$font-stack: Verdana, sans-serif;

body {
  font: 100% $font-stack;
  font-size: 1.5em;
}

#team-members {
  clear: both;
  
  .member {
    float: left;
    /*border: 1px solid gray;*/
    margin: 10px;
    padding: 6px;
  }
  
  img {
    width: 200px;
    height:200px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0, 0.1);
    -webkit-transition: opacity 0.8s;
  }
  
  .wrap {
    width:200px;
    height:200px;
    &:hover {
      .alt {
        opacity: 0;
      }
    }
  }

  .alt {
    position: absolute;
  }
}

.member:nth-child(odd) {
  .wrap {
    img {
        -webkit-transition: 0.5s ease-in-out;
    }
    &:hover {
      .alt {
        -webkit-transform: scale(1.1);
      }
    }
  }
}

.member:nth-child(even) {
  .wrap {
    img {
        -webkit-transition: 0.5s ease-in-out;
    }
    &:hover {
      .alt {
        -webkit-transform: rotate(10deg);
      }
    }
  }
}

.name {
  text-align: center;
}

#container {
  width: 800px;
  margin: 0 auto;
  img {
    width:200px;
    height: 280px;
    margin-right:20px;
    float:left;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0, 0.1);
  }
  h1{
    font-weight:lighter;
  }
  p {
    font-size:0.7em;
  }
}